<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Buy Tickat</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/headshrinker.css" media="screen" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css" type="text/css">
     <!-- Core CSS File. The CSS code needed to make eventCalendar works -->
	<link rel="stylesheet" href="css/eventCalendar.css">

	<!-- Theme CSS file: it makes eventCalendar nicer -->
	<link rel="stylesheet" href="css/eventCalendar_theme_responsive.css">
  <link href="css/media.css" rel="stylesheet">
   <!-- google font here -->
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:700" rel="stylesheet" type="text/css">
    
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    
    
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container header" >
       <div class="head">
        <div class="col-md-2 col-sm-12">
            <img src="images/logo.png" alt="buy-tickat" class="img-responsive">
             <a id="nav-toggle" class="mm_open visible-md visible-sm visible-xs"><span></span><span class="spanfix">Catagories</span></a>

       
        </div>
        
        <div class="col-md-7 col-sm-12 col-xs-12 pull-right">
            <a href="#" class="head-btn btn-red"><i class="fa fa-pencil"></i>CREATE  EVENT</a>
            <a href="#" class="head-btn btn-blue"><i class="fa fa-sign-in"></i>sign in</a>
            <a href="#" class="head-btn btn-trans"><i class="fa fa-life-ring"></i>help</a>
            
           <a id="nav-toggle" class="mm_open hidden-md hidden-sm hidden-xs"><span></span><span class="spanfix">Catagories</span></a>

       

        </div>
        
        
        <div class="clearfix"></div>
        </div>
    </div>
   <div class="panel">
   <div class="container">
       <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
   </div>
 
</div>
 
   
   
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron list-jumb">
      <div class="container container-32">
      <div>
   <div class="col-md-2 col-sm-12">
       <div class="catagories list-thumb">
           <img src=" images/21.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Class</span>
               
           </a>
           
       </div>
       
       
       
    
       
       
       
       
       
   </div>
   <div class="col-md-2 col-sm-12">
       <div class="catagories list-thumb">
           <img src=" images/220.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Movies</span>
               
           </a>
           
       </div>
       
       
       
    
       
       
       
       
       
   </div>
      <div class="col-md-4 col-sm-12">
       <div class="catagories list-thumb">
           <img src=" images/23.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Flight/Bus Ticket</span>
               
           </a>
           
       </div>
       
       
       
        
       
       
       
       
       
   </div>
       <div class="col-md-2 col-sm-12">
       <div class="catagories list-thumb">
           <img src=" images/24.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Party</span>
               
           </a>
           
       </div>
       
       
       
       
       
       
       
       
       
   </div>
      <div class="col-md-2 col-sm-12">
       <div class="catagories list-thumb">
           <img src=" images/25.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Art</span>
               
           </a>
           
       </div>
       
       
       
       
       
       
       
       
       
   </div>
     <div class="clearfix"></div>
      </div>
     
               </div>
    </div>
   <div class="jumbotron main-jumb"> 
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="location-map">
                    
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288' width='600' height='450' frameborder='0' style='border:0'></iframe></div>
                    
                    
                    
                    
                    <div class="map-name">Kathmandu, Nepal</div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                </div>
                
                <div class="search-event-small">
                    <h3>search events</h3>
                    <form class="form-horizontal">
         
        <div>
           
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix2">CIty</label>
    <div class="col-sm-12">
      <input type="email" class="form-control search-form" id="inputEmail3" placeholder="Email">
    </div>
  </div>   
            
        
       
         
            <div class="clearfix"></div>
            
        </div>
        
        
       
        
          <div>
              
            
              
              <label for="inputEmail3" class=" control-label labelfix2">Event Catagoty</label>
            <select class="form-control search-form">
  <option>Economy</option>
  <option>Business</option>
  
</select>
              
              
          </div>
        
        
         
         <div class="form-group head-btn-fix">
    
   
     <a href="#" class="head-btn btn-red search-btn2">SEARCH EVENTS</a>
   
  </div>   
            
        

  
</form>
                    
                </div>
                
                  
                <div class="search-event-small">
                    <h3 class="h3-lower">Post Your Own Event</h3>
                    <img src="images/logo-mini.png" alt="" class="img-responsive">
                    
                    <a href="#" class="head-btn btn-red search-btn2">Create Event Now</a>
        
                    
                </div>
                 
                <div class="search-event-small">
                    <h3 class="center">stay connected</h3>
                    <div class="sign-info">
                        
                        <span>SIGN UP</span> TODAY AND RECIEVE
 UPDATES IN YOUR EMAIL
                        
                        
                    </div>
                    <form class="form-horizontal">
         
        <div>
           
         <div class="form-group">
   
    <div class="col-sm-12">
      <input type="email" class="form-control search-form3" id="inputEmail3" placeholder="Enter email address here">
    </div>
  </div>   
            
        
       
         
            <div class="clearfix"></div>
            
        </div>
        
        
       
        
         
        
        
         
         <div class="form-group head-btn-fix">
    
   
     <a href="#" class="head-btn btn-red search-btn2">SIGN UP</a>
   
  </div>   
            
        

  
</form>
                    
                </div>
                
                  
                
            </div>
            
            <div class="col-md-9 col-sm-12 list-main">
              <div>
               <h2>Featured Events</h2>
               <div class="controls">
                 <button class="sort custom" data-sort="myorder:asc">Relevance</button>
  <button class="sort custom" data-sort="myorder:desc">Date</button>
                </div>
                <div id="Container">
                <a href="#" class="event-big mix category-1" data-myorder="1">
                    <div class="row row-fix">
                        <div class="col-md-4 col-sm-12 img-fix1">
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        </div>
                        <div class="col-md-4 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-4 col-sm-12 event-info-location">
                           <div class="event-info-location-main">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                    </div>
                    
                    
                </a>
                
                
                 
                <a href="#" class="event-big mix category-2" data-myorder="2">
                    <div class="row row-fix">
                        <div class="col-md-4 col-sm-12 img-fix1">
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        </div>
                        <div class="col-md-4 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-4 col-sm-12 event-info-location">
                           <div class="event-info-location-main">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                    </div>
                    
                    
                </a>
                
                </div>
                
                </div>
                
                
                <div class="other-events">
                    <h2>Other Events</h2>
               <div class="controls">
                 <button class="sort custom" data-sort="myorder:asc">Relevance</button>
  <button class="sort custom" data-sort="myorder:desc">Date</button>
                </div>
                     <div class="clearfix"></div>
                      <div id="Container1">
                      <div class="row">
                <a href="#" class="small-event mix category-1 col-md-4 col-sm-12" data-myorder="2">
                   
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                   
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-2 col-md-4 col-sm-12" data-myorder="1">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                      
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-3 col-md-4 col-sm-12" data-myorder="3">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-1 col-md-4 col-sm-12" data-myorder="2">
                   
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                   
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-2 col-md-4 col-sm-12" data-myorder="4">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                      
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-3 col-md-4 col-sm-12" data-myorder="3">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        
                        
                        
                    </div>
                    
                    
                </a>
                
                
                
                
                
                
                <div class="collapse" id="collapseExample">
  
      <a href="#" class="small-event mix category-1 col-md-4 col-sm-12" data-myorder="1">
                   
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                   
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-2 col-md-4 col-sm-12" data-myorder="2">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                      
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-3 col-md-4 col-sm-12" data-myorder="3">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-1 col-md-4 col-sm-12" data-myorder="1">
                   
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        </div>
                        
                        
                   
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-2 col-md-4 col-sm-12" data-myorder="2">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                      
                        
                        
                    </div>
                    
                    
                </a>
                
                
                <a href="#" class="small-event mix category-3 col-md-4 col-sm-12" data-myorder="3">
                    
                        
                            <img src="images/31.png" alt="" class="img-responsive">
                            
                        
                        <div class="col-md-12 col-sm-12 event-info">
                            <h3>International Food 
Festival</h3>
                           <p>Shoreditch small batch elit, retro bicycle rights qui flexitarian nihil nisi Banksy culpa Portland XOXO. Anim do single-</p>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 event-info-location2">
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-calendar"></i> <span>Tuesday, 2am ,  14th Mar</span>
                               
                               
                           </div>
                           <div class="event-info-location-main2">
                              
                              <i class="fa fa-map-marker"></i> <span>Bricks Cafe Kupondol , 
      Kathmandu</span>
                               
                               
                           </div>
                            
                            
                        
                        
                        
                    </div>
                    
                    
                </a>
                <div class="col-sm-12"> 
         <nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>       
         </div>    
</div>
                
   <div class="col-sm-12">
            
            <a class="btn loadmore" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Load More
</a>       
        </div>             
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                </div>
                
              </div>
                    
                    
                    
                </div>
                
            </div>
            
            
        </div>
        
        
    </div>
    </div>
    <div class="jumbotron footer">
        <div class="container footer-top">
           <div class="row">
               
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <h3>event catagories</h3>
                   <ul class="footer-list">
                       <li>
                           <a href="#"> Class</a>
                       </li>
                       <li>
                           <a href="#"> Movie</a>
                       </li>
                       <li>
                           <a href="#"> Music</a>
                       </li>
                       <li>
                           <a href="#"> Flight/Bus Ticket</a>
                       </li>
                       <li>
                           <a href="#"> Party</a>
                       </li>
                       <li>
                           <a href="#"> Art</a>
                       </li>
                       
                       
                   </ul>
                   
                   
               </div>
               
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Using Buy Tickat</h3>
                   <ul class="footer-list">
                       <li>
                           <a href="#"> How to post event</a>
                       </li>
                       <li>
                           <a href="#"> Pricing</a>
                       </li>
                       <li>
                           <a href="#"> Event management</a>
                       </li>
                       <li>
                           <a href="#"> Event guide</a>
                       </li>
                       <li>
                           <a href="#"> Business partners</a>
                       </li>
                      
                       
                   </ul>
                   
                   
               </div>
               
               
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Popular Search</h3>
                   <ul class="footer-list">
                       <li>
                           <a href="#"> Food festival</a>
                       </li>
                       <li>
                           <a href="#"> Tote bag Intelligentsia irony ennui </a>
                       </li>
                       <li>
                           <a href="#"> Tote bag Intelligentsia irony ennui ethical</a>
                       </li>
                       <li>
                           <a href="#"> Tote bag Intelligentsia </a>
                       </li>
                       <li>
                           <a href="#"> Tote bag Intelligentsia irony</a>
                       </li>
                       
                       
                   </ul>
                   
                   
               </div>
               <div class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Connect With Us</h3>
               <a href="#" class="social-button facebook">
                   <i class="fa fa-facebook"></i>
                   Facebook
                   
                   
               </a>
               <a href="#" class="social-button twitter">
                   <i class="fa fa-twitter"></i>
                   twitter
                   
                   
               </a>
               <a href="#" class="social-button google">
                   <i class="fa fa-google-plus"></i>
                   google plus
                   
                   
               </a>
               <a href="#" class="social-button contact-btn">
                   <i class="fa fa-envelop"></i>
                   contact us
                   
                   
               </a>
                   
                   
               </div>
           </div>
            
            
            
        </div>
        <div class="footer-bottom">
            <div class="container">
                <a href="#" class="copyright">Copyright © 2015 by eSignature Pvt. Ltd.</a>
                <div class="footer-nav">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            
                        </li>
                        <li>
                            <a href="#"> About Us  </a>
                            
                        </li>
                        <li>
                            <a href="#">Features </a>
                            
                        </li>
                        <li>
                            <a href="#">Events      </a>
                            
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                            
                        </li>
                           <li>
                            <a href="#">Faqs</a>
                            
                        </li>
                        
                    </ul>
                    
                </div>
                
            </div>
            
        </div>
        
        
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
  
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script src="js/bootstrap.min.js"></script>
   <script src="js/jquery.eventCalendar.js" type="text/javascript"></script>
  

<!--
    <script src="js/jquery.headshrinker.js"></script>
    
    
    
   <script>
jQuery(document).ready(function () {
    jQuery('.header').headshrinker({ fontSize: "17px", mobileMenu: true });
});
</script>
-->
    <script src="js/f1-nav.js"></script>
    <script type="text/javascript" src="js/zebra_datepicker.js"></script>
    <script type="text/javascript" src="js/jquery.mixitup.js"></script>
    <script>
   $('#datepicker-example1').Zebra_DatePicker();
    </script>
    <script>
        
        $('#datepicker-example7-start').Zebra_DatePicker({
                direction: true,
                pair: $('#datepicker-example7-end')
            });

            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
        
    </script>
    
    <script>
        
        $(function() {

    
    //Close alert
    $('.page-alerts .close').click(function(e) {
        e.preventDefault();
        $(this).closest('.page-alerts').slideUp();
    });
    
    //Clear all
    $('.clear-page-alerts').click(function(e) {
        e.preventDefault();
        $('.page-alerts').slideUp();
    });
});
    </script>
    
   
    <script>
$(document).ready(function(){
    $(".loadmore").click(function(){
        $(".loadmore").hide();
    });
    
});
</script>
  <script>
    $(document).ready(function(){  
      $(function(){

	// Instantiate MixItUp:

	$('#Container').mixItUp();

});
});
  </script>
  <script>
    $(document).ready(function(){  
      $(function(){

	// Instantiate MixItUp:

	$('#Container1').mixItUp();

});
});
  </script>

   
  </body>
</html>
