

@charset "utf-8";

/* CSS Document */



*{margin:0; padding:0;}



body{font:12px Arial, Helvetica, sans-serif; color:#000;}

#wrapper{width:560px; margin:10px auto 0;}



.print_patch{width:305px; background:#000; padding:5px 12px; margin:0 auto; position:relative; text-align:center; color:#fff; font-size:16px; margin-bottom:14px;}

.print_patch span{background:url(../images/trang.png) no-repeat; width:29px; height:9px; position:absolute; bottom:-9px; left:149px;}



.ticket_box{width:590px; float:left; margin-left:15px;}

.barcode_t_box{display:table-cell; vertical-align:middle; height:207px; border:solid 5px #d9d9d9; width:525px; float:left;  margin-top:10px; padding:0px;}

.fot_nm{display:table-cell; vertical-align:middle;border:solid 5px #d9d9d9; width:525px; float:left;  border-top:none; }

.barcode_box{width:50px; text-align:center;  float:left}



.ticket_detail_box{width:400px; text-align:center; display:table-cell; vertical-align:middle; height:207px; border:solid 5px #d9d9d9; float:left;}

.event_box{width:390px; padding:5px; border-bottom:solid 5px #d9d9d9; min-height:54px; position:relative; text-align:right; float:left; font-weight:600; font-size:18px;}

.event_box span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}



.date_box{width:390px; padding:5px; border-bottom:solid 5px #d9d9d9; min-height:18px; position:relative; text-align:right; float:left; font-weight:normal; font-size:12px;}

.date_box span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}



.type_box{width:390px; padding:5px; border-bottom:solid 5px #d9d9d9; min-height:14px; position:relative; text-align:right; float:left; font-weight:normal; font-size:14px;}

.type_box span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}



.location_box{width:390px; padding:5px; border-bottom:solid 5px #d9d9d9; min-height:41px; position:relative; text-align:right; float:left; font-weight:normal; font-size:12px;}

.location_box span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}



.order_box{width:390px; padding:5px; min-height:12px; position:relative; text-align:right; float:left; font-weight:normal; font-size:10px;}

.order_box span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}



.ticket_logos_box{width:120px; display: table-cell; vertical-align: middle; text-align:center;  height:207px; border:solid 5px #d9d9d9; border-left:none; float:left}

.logo_box{width:120px; height:120px; padding:0px 0; text-align:center; border-bottom:solid 5px #d9d9d9; float:left}



.googlemap_box iframe{font-weight:normal;}

.box_box{ padding:5px 0; text-align:center;}



.logo_box1{width:163px; float:left;  padding:10px; text-align: center;}

.box_box2{width:317px; float:left;border-left: solid 5px #d9d9d9; padding:17px 9px 2px; position: relative; text-align: right; }

.fot_nm span{position:absolute; top:5px; left:5px; font-weight:normal; color:#b0b0b0; font-size:10px;}
nobr{color: #3d5501;}