<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/headshrinker.css" media="screen" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/default.css" type="text/css">
     <!-- Core CSS File. The CSS code needed to make eventCalendar works -->
	<link rel="stylesheet" href="css/eventCalendar.css">

	<!-- Theme CSS file: it makes eventCalendar nicer -->
	<link rel="stylesheet" href="css/eventCalendar_theme_responsive.css">
   <!-- google font here -->
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:600" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Titillium+Web:700" rel="stylesheet" type="text/css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container header" >
       <div class="head">
        <div class="col-md-2 col-sm-12">
            <img src="images/logo.png" alt="buy-tickat" class="img-responsive">
            
        </div>
        
        <div class="col-md-7 col-sm-12 pull-right">
            <a href="#" class="head-btn btn-red"><i class="fa fa-pencil"></i>CREATE  EVENT</a>
            <a href="#" class="head-btn btn-blue"><i class="fa fa-sign-in"></i>sign in</a>
            <a href="#" class="head-btn btn-trans"><i class="fa fa-life-ring"></i>help</a>
            <span class="spanfix">Catagories</span>
           <a id="nav-toggle" class="mm_open"><span></span></a>

       

        </div>
        
        
        <div class="clearfix"></div>
        </div>
    </div>
   <div class="panel">
   <div class="container">
       <div class="col-md-3 col-sm-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
      <div class="col-md-3 col-sm-12">
        <ul>
    <li class="nav-item bold-nav"><a href="#">Link 1</a></li>
    <li class="nav-item"><a href="#">Link 2</a></li>
    <li class="nav-item"><a href="#">Link 3</a></li>
    <li class="nav-item"><a href="#">Link 4</a></li>
    <li class="nav-item"><a href="#">Link 5</a></li>
  </ul>
      </div> 
   </div>
 
</div>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div>
   <div class="col-md-4 col-sm-12">
       <div class="catagories">
           <img src=" images/1.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Class</span>
               
           </a>
           
       </div>
       
       
       
        <div class="catagories">
           <img src=" images/2.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Movie Ticket</span>
               
           </a>
           
       </div>
       
       
       
       
       
   </div>
      <div class="col-md-4 col-sm-12">
       <div class="catagories">
           <img src=" images/3.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Flight/Bus Ticket</span>
               
           </a>
           
       </div>
       
       
       
        
       
       
       
       
       
   </div>
       <div class="col-md-4 col-sm-12">
       <div class="catagories">
           <img src=" images/4.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Party</span>
               
           </a>
           
       </div>
       
       
       
        <div class="catagories">
           <img src=" images/5.png" alt="" class="img-responsive">
           <a href="#" class="overlay-pic">
               <span>Art</span>
               
           </a>
           
       </div>
       
       
       
       
       
   </div>
     <div class="clearfix"></div>
      </div>
      <div class="col-md-12 col-sm-12">
      <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs search-tab" role="tablist">
    <li role="presentation" class="active hidden-1"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a class="red" href="#search" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-search nav-i"></i>Search Event</a></li>
    <li role="presentation"><a href="#event" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-tag fa-flip-horizontal nav-i2"></i>Event Catagories</a></li>
    <li role="presentation"><a href="#location" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-map-marker nav-i"></i>Event Location</a></li>
      <li role="presentation"><a class="blue" href="#flight" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-plane nav-i"></i>Flight Ticket</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane  active" id="home">
      <div class="col-md-5 col-sm-12"><h1>post your own event</h1></div>
      <div class="col-md-3 col-sm-12 pull-right">
          <a href="#" class="started">Get started</a>
          
          
      </div>
      
      
      </div>
    <div role="tabpanel" class="tab-pane  fade" id="search">
        
        
        <form class="form-horizontal">
        <div class="col-md-4 col-sm-12">
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix">Event name</label>
    <div class="col-sm-12">
      <input type="email" class="form-control search-form" id="inputEmail3" placeholder="Email">
    </div>
  </div>   
            
        </div>
         <div class="col-md-3 col-sm-12">
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix">City </label>
    <div class="col-sm-12">
      <input type="email" class="form-control search-form" id="inputEmail3" placeholder="Email">
    </div>
  </div>   
            
        </div>
         <div class="col-md-3 col-sm-12">
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix">Event Date</label>
    <div class="col-sm-12">
      <input id="datepicker-example1" type="text" class="form-control search-form">
    </div>
  </div>   
            
        </div>
         <div class="col-md-2 col-sm-12">
         <div class="form-group">
    
    <div class="col-sm-12">
     <a href="#" class="head-btn btn-red search-btn">SEARCH</a>
    </div>
  </div>   
            
        </div>
  
  
</form>
        
        
    </div>
    <div role="tabpanel" class="tab-pane fade" id="event">
        
    <div class="">
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        
        
    </div>    
        
        
    </div>
    <div role="tabpanel" class="tab-pane fade" id="location">
        
   <div class="">
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        <div class="col-md-3 col-sm-12 "> 
        <a href="#" class="event-list">Movies</a>
        
        
        
        </div>
        
        
    </div>    
          
        
        
        
        
        
        
        
        
        
        
    </div>
    <div role="tabpanel" class="tab-pane fade" id="flight">
        
       
         <form class="form-horizontal">
          <div class="col-sm-12">
            
            <label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> One Way
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Two Way 
</label>

            
        </div>
        <div>
            <div class="col-md-4 col-sm-12">
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix">From</label>
    <div class="col-sm-12">
      <input type="email" class="form-control search-form" id="inputEmail3" placeholder="Email">
    </div>
  </div>   
            
        </div>
         <div class="col-md-4 col-sm-12">
         <div class="form-group">
    <label for="inputEmail3" class="col-sm-12 control-label labelfix">To </label>
    <div class="col-sm-12">
      <input type="email" class="form-control search-form" id="inputEmail3" placeholder="Email">
    </div>
  </div>   
            
        </div>
         
            <div class="clearfix"></div>
            
        </div>
        
        
          <div>
              <div class="col-md-4 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Arrival</label>
             <input id="datepicker-example7-start" type="text" class="form-control search-form">
              </div>
              <div class="col-md-4 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Departure</label>
            <input id="datepicker-example7-end" type="text" class="form-control search-form"> 
              </div>
               <div class="clearfix"></div>
          </div>
        
          <div>
              <div class="col-md-2 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Adult</label>
             <input  type="text" class="form-control search-form">
              </div>
              <div class="col-md-2 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Child</label>
             <input  type="text" class="form-control search-form">
              </div>
              <div class="col-md-2 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Infants</label>
             <input  type="text" class="form-control search-form">
              </div>
              <div class="col-md-4 col-sm-12">
              <label for="inputEmail3" class="col-sm-12 control-label labelfix">Class</label>
            <select class="form-control search-form">
  <option>Economy</option>
  <option>Business</option>
  
</select>
              </div>
              
          </div>
        
        
         <div class="col-md-2 col-sm-12">
         <div class="form-group">
    
    <div class="col-sm-12">
     <a href="#" class="head-btn btn-red search-btn">SEARCH</a>
    </div>
  </div>   
            
        </div>

  
</form>
        
        
        
    </div>
  </div>

</div>
      </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      <div class="cat-title">
      <div class="col-md-6 col-sm-12">
      
       <h2>POPULAR EVENTS</h2>
       
      
      
       <div class="clearfix"></div>
       </div>
        <div class="col-md-4 col-sm-12 pull-right">
       <a href="#" class="view-all">View all</a>
       
       </div>
       <div class="clearfix"></div>
       </div>
       <div class="col-sm-12">
           <div class="alert alert-info page-alerts" id="alert-2">
        <button type="button" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <i class="fa fa-bell"></i> This alert needs your attention, but it's not super important.
    </div>
           
       </div>
       
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/11.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
     
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/22.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
        
        
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/33.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
           <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/11.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
     
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/22.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
        
        
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/33.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
        
        
         <div class="collapse" id="collapseExample">
  
     <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/11.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
     
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/22.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
        
        
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/33.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
           <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/11.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
     
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/22.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
        
        
        <div class="col-md-4 pop-items ">
        <div class="popular-events">
            <img src="images/33.png" alt="" class="img-responsive">
            <a href="#" class="overlay-2">
               <div class="location-shade">
                   <i class="fa fa-calendar"></i>
                   <span>Tuesday, 2am ,  14th Mar</span>
                   
               </div> 
               <div class="event-tile-2">
                   <div class="event-tile-2-main">Jazzmandu Musical Evening</div>
                   <i class="fa fa-map-marker"></i><span> Bricks Cafe Kupondol , Kathmandu</span>
                   
                   
               </div>
                
            </a>
            
            
        </div>

        </div>
        
  
  
  
</div>   
            
            
     
        
        <div class="col-sm-12">
            
            <a class="btn loadmore" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Load More
</a>       
        </div>
        
        
      </div>
      
      

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
<div class="jumbotron jumb2">
    <div class="container">
    <div class="row">
 	 <div class="col-md-6 col-sm-12">
 	     <h3> upcoming event</h3>
 	     <div class="row">
 	         <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	          <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	         
 	          <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	         
 	          <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	         
 	          <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	         
 	          <div class="col-md-6 col-sm-12" >
 	             
 	             <a href="#" class="up-event">
 	         <img src="images/111.png" alt="" class="img-responsive">
 	         <div class="up-title">Food Festival</div>
 	         <p>Butcher try-hard slow-carb, Echo Park tote bag Thundercats taxidermy DIY health goth. </p>
 	         <div class="up-event-info">
 	             <i class="fa fa-calendar"></i>
 	             <span> Tuesday, 2am ,  14th Mar</span>
 	             
 	         </div>
 	         <div class="up-event-info">
 	             <i class="fa fa-map-marker"></i>
 	             <span> Bricks Cafe Kupondol , Kathmandu</span>
 	             
 	         </div>
 	         
 	     </a>
 	             
 	         </div>
 	         
 	         
 	     </div>
 	     
 	     
 	     
 	 </div> 
 	 
 	 <div class="col-md-3 col-sm-3">
 	     <h3>Latest events</h3>
 	     
 	     <div class="events-container">
 	         <a href="#" class="event-small">
 	             <img src="images/1111.png" alt="">
 	             <div class="event-small-info">
 	                 <h4>Food festival and cooking class</h4>
 	                 <div>
 	                     <i class="fa fa-calendar"></i>
 	                     <span>2am ,  14th Mar</span>
 	                     
 	                 </div>
 	                 
 	                 
 	                 
 	             </div>
 	             <div class="clearfix"></div>
 	                 <div class="location3">
 	                     <i class="fa fa-map-marker"></i>
 	                     <span>Bricks Cafe Kupondol , Kathmandu</span>
 	                     
 	                     
 	                 </div>
 	             
 	             
 	         </a>
 	         
 	         
 	         <a href="#" class="event-small">
 	             <img src="images/1111.png" alt="">
 	             <div class="event-small-info">
 	                 <h4>Food festival and cooking class</h4>
 	                 <div>
 	                     <i class="fa fa-calendar"></i>
 	                     <span>2am ,  14th Mar</span>
 	                     
 	                 </div>
 	                 
 	                 
 	                 
 	             </div>
 	             <div class="clearfix"></div>
 	                 <div class="location3">
 	                     <i class="fa fa-map-marker"></i>
 	                     <span>Bricks Cafe Kupondol , Kathmandu</span>
 	                     
 	                     
 	                 </div>
 	             
 	             
 	         </a>
 	         
 	         
 	         <a href="#" class="event-small">
 	             <img src="images/1111.png" alt="">
 	             <div class="event-small-info">
 	                 <h4>Food festival and cooking class</h4>
 	                 <div>
 	                     <i class="fa fa-calendar"></i>
 	                     <span>2am ,  14th Mar</span>
 	                     
 	                 </div>
 	                 
 	                 
 	                 
 	             </div>
 	             <div class="clearfix"></div>
 	                 <div class="location3">
 	                     <i class="fa fa-map-marker"></i>
 	                     <span>Bricks Cafe Kupondol , Kathmandu</span>
 	                     
 	                     
 	                 </div>
 	             
 	             
 	         </a>
 	         
 	         
 	         <a href="#" class="event-small">
 	             <img src="images/1111.png" alt="">
 	             <div class="event-small-info">
 	                 <h4>Food festival and cooking class</h4>
 	                 <div>
 	                     <i class="fa fa-calendar"></i>
 	                     <span>2am ,  14th Mar</span>
 	                     
 	                 </div>
 	                 
 	                 
 	                 
 	             </div>
 	             <div class="clearfix"></div>
 	                 <div class="location3">
 	                     <i class="fa fa-map-marker"></i>
 	                     <span>Bricks Cafe Kupondol , Kathmandu</span>
 	                     
 	                     
 	                 </div>
 	             
 	             
 	         </a>
 	          
 	         <a href="#" class="event-small">
 	             <img src="images/1111.png" alt="">
 	             <div class="event-small-info">
 	                 <h4>Food festival and cooking class</h4>
 	                 <div>
 	                     <i class="fa fa-calendar"></i>
 	                     <span>2am ,  14th Mar</span>
 	                     
 	                 </div>
 	                 
 	                 
 	                 
 	             </div>
 	             <div class="clearfix"></div>
 	                 <div class="location3">
 	                     <i class="fa fa-map-marker"></i>
 	                     <span>Bricks Cafe Kupondol , Kathmandu</span>
 	                     
 	                     
 	                 </div>
 	             
 	             
 	         </a>
 	         
 	         
 	         <a href="#" class="all-event">View All Events</a>
 	     </div>
 	     
 	     
 	 </div>
 	 </div>
    </div>
    
    
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
  
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
  

<!--
    <script src="js/jquery.headshrinker.js"></script>
    
    
    
   <script>
jQuery(document).ready(function () {
    jQuery('.header').headshrinker({ fontSize: "17px", mobileMenu: true });
});
</script>
-->
    <script src="js/f1-nav.js"></script>
    <script type="text/javascript" src="js/zebra_datepicker.js"></script>
    <script>
   $('#datepicker-example1').Zebra_DatePicker();
    </script>
    <script>
        
        $('#datepicker-example7-start').Zebra_DatePicker({
                direction: true,
                pair: $('#datepicker-example7-end')
            });

            $('#datepicker-example7-end').Zebra_DatePicker({
                direction: 1
            });
        
    </script>
    
    <script>
        
        $(function() {

    
    //Close alert
    $('.page-alerts .close').click(function(e) {
        e.preventDefault();
        $(this).closest('.page-alerts').slideUp();
    });
    
    //Clear all
    $('.clear-page-alerts').click(function(e) {
        e.preventDefault();
        $('.page-alerts').slideUp();
    });
});
    </script>
    
   
    <script>
$(document).ready(function(){
    $(".loadmore").click(function(){
        $(".loadmore").hide();
    });
    
});
</script>
   
  </body>
</html>
